# OS
.DS_Store

# Secrets
.env
.env.*
!.env.example

# Artifacts
build/

# FVM Version Cache
.fvm/

# Pub workspace
.dart_tool/

# Node
node_modules/

# Claude Code
.claude/*
!.claude/settings.json
!.claude/skills/

